@import '../styles/mixins.scss';
.collection{
    background-image: url(../assets/images/creams.svg), url(../assets/images/Blob.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: 30.5625em 25.25em, 46.0625em 29.375em;
    background-position: top 2rem left 0, top 0 left -20em;
    padding: 0 5.625em;
    height: 30rem;
    display: flex;
    justify-content: right;
    margin-top: 4rem;
    &__flex{
        display: flex;
        .explore{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items:flex-end;
            justify-content: center;
            h2{
                max-width: 35.813rem;
                @include collection-header();
            }
            p{
                max-width: 23.375rem;
                @include collection-text();
            }
            a{
                @include defaulButton(#fff, #5FD788, #5FD788, #fff);
            }
        }
    }
}