@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@font-face {
  font-family: SF-pro-rounded;
  src: url(../assets/fonts/SF-pro-rounded.ttf);
}
@font-face {
  font-family: SF-pro-display-regular;
  src: url(../assets/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SF-pro-display-bold;
  src: url(../assets/fonts/SFPRODISPLAYBOLD.OTF);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  overflow-x: hidden;
}

.navbar-toggler {
  transition: 600ms;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  overflow-x: hidden;
}

.navbar-toggler {
  transition: 600ms;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 40;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 6.5em;
  background-color: #FFF;
  overflow-x: visible;
  z-index: 50;
  transition: 500ms;
}
.navbar.dark {
  background-color: #1F2937;
}
.navbar.dark .navbar__flex .logo-container a {
  color: #FFF;
}
.navbar.dark .navbar__flex .links-container a {
  color: #FFF;
}
.navbar.dark .navbar__flex .links-container a.active {
  color: #5FD788;
}
.navbar.dark .navbar__flex .icons-container svg path {
  fill: #FFF;
}
.navbar__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.3125em;
  width: 100%;
}
.navbar__flex .logo-container a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: color 500ms;
  font-family: "SF-pro-display-bold";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 135%;
  color: #1F2937;
  text-decoration: none;
}
.navbar__flex .links-container {
  display: flex;
  gap: 0.625em;
}
.navbar__flex .links-container a {
  font-family: "SF-pro-display-bold";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 135%;
  color: #1F2937;
  text-decoration: none;
  transition: color 500ms;
}
.navbar__flex .links-container a.active {
  color: #5FD788;
}
.navbar__flex .icons-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.navbar__flex .icons-container a svg path {
  transition: 500ms;
}
.navbar__flex .icons-container__bag {
  display: flex;
}
.navbar__flex .icons-container__search {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.navbar__flex .icons-container .desktop-search {
  width: 15em;
  transition: 300ms;
  position: absolute;
  right: 0;
  top: 3em;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.navbar__flex .icons-container .desktop-search form {
  width: 100%;
  position: relative;
}
.navbar__flex .icons-container .desktop-search form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5em 3.9em 0.5em 0.5em;
}
.navbar__flex .icons-container .desktop-search form button {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
}
.navbar__flex .icons-container .main-searchbar-enter {
  opacity: 0;
  top: 0em;
}
.navbar__flex .icons-container .main-searchbar-enter-active {
  opacity: 1;
  top: 3em;
}
.navbar__flex .icons-container .main-searchbar-exit {
  top: 3em;
  opacity: 1;
}
.navbar__flex .icons-container .main-searchbar-exit-active {
  top: 0em;
  opacity: 0;
}
.navbar__flex .icons-container .toggle-dark {
  width: 2rem;
  height: 1.1rem;
  background-color: #1F2937;
  position: relative;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 500ms;
  border: 1px solid #1F2937;
  display: flex;
  align-items: center;
}
.navbar__flex .icons-container .toggle-dark--circle {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  transition: 500ms;
}
.navbar__flex .icons-container .toggle-dark.dark {
  background-color: white;
}
.navbar__flex .icons-container .toggle-dark.dark .toggle-dark--circle {
  left: 1rem;
  background-color: #1F2937;
}
.navbar__flex .menuBar-container {
  display: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  overflow-x: hidden;
}

.navbar-toggler {
  transition: 600ms;
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 40;
}

.home {
  margin-top: 4.3125em;
  transition: 500ms;
}
.home.dark {
  background-color: #1F2937;
}/*# sourceMappingURL=Home.css.map */