@import './mixins.scss';
$navbarHeight: 4.3125em;
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 6.5em;
    background-color: #FFF;
    overflow-x: visible;
    z-index: 100;
    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navbarHeight;
        width: 100%;
        .logo-container{
            a{
                display: flex;
                align-items: center;
                gap: 0.75em;
                @include navbar();
            }
        }
        .links-container{
            display: flex;
            gap: 0.625em;
            a{
                @include navbar();
            }
        }
        .icons-container{
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.75em;
            &__bag{
                display: flex;
            }
            &__search{
                display: flex;
                cursor: pointer;
                border: none;
                background-color: transparent;
            }
            .desktop-search{
                transform: scale(1) translate(-500px, 50px);
                transition: 300ms;
                position: absolute;
                right: -100%;
                top: 0;
                animation-timing-function: linear;
                form{
                    position: relative;
                    input{

                    }
                    button{
                        position: absolute;
                        right: 0;
                        top: 0;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .main-searchbar{
                &-enter{
                    transform: translateY(0) scale(0);
                    &-active{
                        transform: translate(-500px, 100px) scale(1);
                    }
                }
                &-exit{
                    transform: scale(1);
                    &-active{
                        transform: scale(0);
                    }
                }
            }
        }
        .menuBar-container{
            display: none;
        }
    }
}