@media (max-width: 1397px){
    .advertisement__flex .ads-container{
        flex: 1;
        width: auto;
    }
}
@media (max-width: 1300px){
    body, html{
        font-size: 15px;
    }
}
@media (max-width: 1245px){
    .bestseller{
        padding: 0;
        padding-top: 14em;
        height: auto;
        &__flex{
            flex-direction: column;
            align-items: center;
            gap: 9.0625em;
            &--left{
                width: 100%;
                div{
                    h2{
                        text-align: center;
                    }
                }
            }
            &--right{
                width: 30em;
            }
        }
    }
}
@media (max-width: 1224px){
    .advertisement{
        background-size: 110rem auto;
        background-position: right -65.125rem top -48.375rem;
        &__flex{
            .ads-container{
                svg{
                    width: 35rem;
                    height: 32rem;
                }
            }
        }
    }
}
@media (max-width: 1204px){
    .product-types__flex .type-box{
        margin-bottom: 1em;
    }
    .bestseller{
        margin-top: 6em;
    }
}
@media (max-width: 1190px){
    .soaps{
        &__flex{
            &__left{
                flex: none;
                flex-basis: 50%;
            }
            &__right{
                flex: 1;
            }
        }
    }
}
@media (max-width: 1120px){
    .advertisement{
        // background-size: 100rem auto;
        background-position: right -70.125rem top -48.375rem;
    }
}
@media (max-width: 1050px){
    body, html{
        font-size: 14px;
    }
}
@media (max-width: 980px){
    .advertisement{
        background-position: right -75.125rem top -48.375rem;
        &__flex{
            .ads-container{
                svg{
                    width: 32rem;
                    height: 35rem;
                }
            }
        }
    }
    .soaps{
        &__flex{
            position: relative;
            height: 100%;
            &__left{
                padding: 0;
                background-color: transparent;
                flex-basis: 0;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                padding: 1rem 2rem;
                h2{
                    text-align: center;
                    font-size: 3rem;
                }
            }
            &__right{
                width: 100%;
                flex: 1;
            }
        }
    }
}
@media (max-width: 900px){
    .advertisement{
        padding: 0 2rem;
        background-size: 42.125rem auto;
        background-position: right -20rem top 0;
        &__flex{
            justify-content: space-between;
            gap: none;
            .ads-container{
                flex: none;
                svg{
                    width: 22rem;
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: 833px){
    .navbar{
        padding: 0 3.0625em;
    }
}
@media (max-width: 800px){
    body, html{
        font-size: 13px;
    }
}
@media (max-width: 750px){
    .collection{
        justify-content: center;
        background-position: center top -20px, center top 0px;
        // background-size: 50% auto, 50% auto;
        background-size: 20.5625em auto, 25.0625em auto;
        min-height: 49rem;
        &__flex{
            align-items: flex-end;
            .explore{
                align-items: center;
                h2, p{
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width: 665px){
    .advertisement{
        background-position: center top 0;
        background-size: 24.125rem auto;
        padding: 2em 2em 0 2em;
        width: 100%;
        height: auto;
        &__flex{
            flex-direction: column-reverse;
            .ads-container{
                height: 18rem;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                    width: 15.6875rem;
                    height: fit-content;
                }
            }
            .ads-text{
                h1, p{
                    text-align: center;
                }
            }
        }
    }
    .advertisement__flex{
        flex-direction: column-reverse;
    }
}
@media (max-width: 600px){
    .product-types{
        margin-top: 7rem;
    }
    .bestseller {
        background-position: center top 0;
        background-size: 14.3125em 20.25em;
        padding-top: 5em;
        &__flex{
            gap: 9.875em;
        }
    }
}
@media (max-width: 550px){
    body, html{
        font-size: 12px;
    }
    .navbar__flex .links-container, .navbar__flex .icons-container{
        display: none;
    }
    .navbar__flex .menuBar-container{
        display: flex;
    }
    .mobile-navbar{
        display: block;
    }
    .navbar-toggler{
        display: block;
        opacity: 0;
        transition: 600ms;
        pointer-events: none;
        &.active{
            opacity: 1;
            pointer-events: all;
        }
    }
}
@media (max-width: 450px){
    .soaps__flex__left h2{
        font-size: 2rem;
    }
}
@media (max-width: 396px){
    .bestseller{
        padding-right: 1rem;
        padding-left: 1rem;
        &__flex{
            &--right{
                width: 100%;
                height: auto;
                .bestseller-box{
                    aspect-ratio: 16/9;
                }
            }
        }
    }
}
@media (max-width: 380px){
    .collection{
        height: 52rem;
    }
}
@media (max-width: 315px){
    .advertisement__flex .ads-text h1{
        font-size: 5rem;
    }
}
@media (max-width: 300px){
    body, html{
        font-size: 11px;
    }
    .advertisement{
        background-size: 95% auto;
        &__flex .ads-container{
            height: auto;
            svg{
                width: 100%;
                rect{
                    height: 100%;
                }
            }
        }
    }
    .collection{
        background-size: 90% 25.25em, 90% 29.375em;
        background-position: center top 0, center top 0;
        &__flex{

        }
    }
}
@media (max-width: 250px){
    body, html{
        font-size: 10px;
    }
    .mobile-navbar{
        width: 100%;
    }
    .collection{
        margin-top: 1rem;
    }
}
@media (max-width: 250px){
    .advertisement__flex .ads-container{
        width: 100%;
    }
}
@media (max-width: 200px){
    body, html{
        font-size: 9px;
    }
}