.soaps{
    &__flex{
        display: flex;
        &__left{
            flex: 1;
            padding: 0 2.25rem 0 6.25rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #5FD788;
            h2{
                max-width: 32.6875rem;
            }
            a{

            }
        }
        &__right{
            img{
                width: 35.75rem;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}